
@font-face {
    font-family: "Roboto";
    src: local("Roboto");
  }

* {
    font-family: "Urbanist", "Roboto", "Arial";
    font-size: medium;
}

body, html{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9BB2DD;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body, .user-info, header, footer{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.chats-column, .message-column{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chats-column{
    background-color: white;
}

.chats{
    overflow: auto;
    padding: 10px;
}
.text-info{
    overflow: hidden;
    width: 100%;
}

header, footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    background-color: white;
    position: relative;
}

header {top: 0;}
footer {
    max-height: 150px; 
    bottom: 0;

}

.avatar, .send{
    img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
    margin: 10px;
    border: none;
}

.name{font-weight: bold;}
.last-mess{color: gray;}
.name, .last-mess{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.messages{
    flex: 1;
    overflow: auto;
}

.pin {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 20px;
    img {
        height: 30px;
        width: 30px;
    }
    input {
        visibility: hidden;
    }
}

.send {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    img {
        transform: scale(-1, 1);
    }
    input {
        visibility: hidden;
    }
}

.pin, .send{
    align-self: flex-end;
}

.send:hover, .pin:hover{
    img {
        cursor: pointer;
    }
    opacity: 0.5;
}

.text-field{
    max-height: 150px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    overflow: auto;
}

textarea{
    width: 100%;
    border: none;
    resize: none;
}

textarea:focus{
    outline:none!important;
}


textarea::-webkit-scrollbar{
    width: 0px;
}

a:hover{
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
a:link, a:visited {
    text-decoration: none;
}

.message{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    padding: 10px;
}

.new-chat-button{
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: 10px;
    bottom: 0;

    width: max-content;
    height: max-content;
    img{
        width: 50px;
        height: 50px;
    }
}

.text{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    width: max-content;
    display: flex;
    flex-direction: column;
    .name, .time{
        font-size: small;
    }
    .name-and-time{
        display: flex;
        justify-content: space-between;
    }

}