
@font-face {
    font-family: "Roboto";
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/roboto.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/roboto.woff") format("woff");
  }

* {
    font-family: "Urbanist", "Roboto", "Arial";
    font-size: medium;
}

body{
    background-color: #9BB2DD;
    padding: 0;
}

.user-info, header, .text-field{
    display: flex;
    flex-direction: row;
}

header, .text-field{
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
}

header{top: 0;}
.text-field{bottom: 0;}

.back-button, .avatar, .pin, .send{
    height: 50px;
    width: 50px;
    margin: 10px;
    border: none;
}

.back-button{
    cursor: pointer;
    background: url("back.jpg");
    background-size: contain;
}

.avatar{
    border-radius: 50%;
    background-image: url("testav.jpg");
    background-size: cover;
    background-position: 50%;
}

.name{
    margin: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.pin {
    img {
        height: 30px;
        width: 30px;
        margin: 10px;
    }
    input {
        visibility: hidden;
    }
}

.send {
    img {
        height: 100%;
        width: 100%;
        transform: scale(-1, 1);
    }
    input {
        visibility: hidden;
    }
}

.send:hover, .pin:hover, .back-button:hover{
    opacity: 0.5;
}

textarea{
    width: 100%;
    margin: auto;
    border: none;
    resize: none;
    left: 0;
}

textarea:focus{
    outline:none!important;
}
