
@font-face {
    font-family: "Roboto";
    src: local("Roboto");
  }

* {
    font-family: "Roboto", "Arial";
    font-size: medium;
}

body, html{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.app{
    max-width: 50%;
    min-width: 30%;
    max-height: 90%;
}

.app, .wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper{
    overflow: auto;
    ::-webkit-scrollbar{
        width: 0px;
    }
}

.search{

    background-color: #d1e1ff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;

    textarea::-webkit-search-decoration,
    textarea::-webkit-search-cancel-button,
    textarea::-webkit-search-results-button,
    textarea::-webkit-search-results-decoration {
    -webkit-appearance:none;
    }
    .search-field>img {width: 20px;}
    .avatar>img{
        height: 30px;
        width: 30px;
    }
    .name{
        font-size: smaller;
    }
    button{
        background: none;
        border: none;
    }
}

.box{
    width: 20px;
    height: 20px;
}

.avatar:hover, button:hover{
    cursor: pointer;
    opacity: 0.5;
}

body, .user-info, .search-field, .new-group, .new-button{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text-info{
    overflow: hidden;
    width: 100%;
}

.avatar{
    img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
    margin: 10px;
    border: none;
}

.name{font-weight: bold;}
.name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.new-group{
  font-size: smaller;
  font-style: italic;
  color: #4373cc;
  display: flex;
  flex-direction: row;
  align-items: center;
}

textarea, .text-field{
    resize: none;
    width: 100%;
    height: 20px;
    padding: 2px 5px;
    border-radius: 30px;
    border: solid;
    border-color: #9BB2DD;
    font-size: smaller;
}

 textarea:focus{
    outline: 0 !important;
 }

label>img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

#group_button {
        visibility: hidden;
    }