
@font-face {
    font-family: "Roboto";
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/roboto.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/roboto.woff") format("woff");
  }

* {
    font-family: "Urbanist", "Roboto", "Arial";
    font-size: medium;
}

a{
    color:#9bb2dd;
}

body, html{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    justify-content: center;
    position: relative;

}

.app, .body, .login, .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    img{
        height: 90px;
        width: 90px;
    }
    align-items: center;
}

.app{
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

h1{
    font-size: 50px;
}

h2{
    color: #9bb2dd
}

.login{
    width: 100%;
    justify-content: center;
}

#name, #password, #enter{
    font-size: small;
    width: 100%;
    min-height: 30px;
}

input{
    border-style:solid;
    margin: 10px 0px;
    border-radius: 5px;
    border-color: #9bb2dd;
}

#enter{
    font-size: medium;
    font-weight: bold;
    margin: 10px 0px;
    background-color: #9bb2dd;
    border-radius: 10px;
    border: none;
    color: white;
}

#enter:hover{
    cursor: pointer;
    opacity: 0.5;
}

