<!DOCTYPE html>

<html>
  
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if g.user %}
        <head>{% block head %}{% endblock %}</head>
        <body>{% block content %}{% endblock %}</body>
    {% else %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}-parceltongue</title>
            <link rel="stylesheet" href="base-styles.css">
        </head>
        <body>
            <div class="app">
                <div class="logo">
                    <img src="img/logo2.png">
                    <h1>parceltongue</h1>
                </div>
                <h2>Авторизация</h2>
                <form class="login">
                    <input method="POST" type="text" id="name" required>
                    <input method="POST" type="password" id="password" required>
                    <input type="submit" id="enter" value="Войти">
                </form>
                <div class="singin">
                    У Вас ещё нет учётной записи?
                    <a href="{{ url_for('auth.register') }}">Регистрация</a>   
                </div> 
            </div>
        </body> 
    {% endif %}
    
</html>