{% block chats-list %}
<div class="chats">
    {% for user in users %}
    <div class="chat">
      <a id="select-chat" href="{{user['id']}}">
      <div class="user-info">
        <div  class="avatar"><img src="{{ url_for('static',filename=user['chat_pic_path']) }}"></div>
        <div class="text-info">
          <div class="name">{{ user["chatname"] }}</div>
          <!--user.username - это имя пользователя, с которым был диалог-->
          <div class="last-mess">{{ user["last_message"] }}</div>
          <!--user.messages[0].text - предполагается, что для каждого user есть массив сообщений (допустим, текст+автор)-->
          <!--, где последнее соо лежит в конце... и из сообщения мне здесь нужен только его текст-->
        </div>
        </div>
        </a>
    </div>
    {% endfor %}
  </div>
  {% endblock %}  