{% block chats-list %}
<div class="chats">
    {% for user in users %}
    <div class="chat">
      <a id="select-chat" href="{{user['id']}}">
      <div class="user-info">
        <div  class="avatar"><img src="{{ url_for('static',filename=user['chat_pic_path']) }}"></div>
        <div class="text-info">
          <div class="name">{{ user["chatname"] }}</div>
          <div class="last-mess">{{ user["last_message"] }}</div>
        </div>
        </div>
        </a>
    </div>
    {% endfor %}
  </div>
  {% endblock %}  