{% extends 'chats.html' %}
{% block chat %}
<header>
    <div class="user-info">
      <div class="avatar"><img src="{{url_for('static',filename=chat['chat_pic_path'])}}"></div>
      <div class="name">{{chat['chatname']}}</div>
    </div>
</header>
<div class="messages">
    {% for message in messages %}
    <div class="message">
        <div class="avatar" style="width: 30px; height: 30px;"><img src=" {{url_for('static',filename=message['from_user']['profile_pic_path'])}} "  style="width: 30px; height: 30px;"></div>
        <div class="text">
          <div class="name-and-time">
              <div class="name">{{ message['from_user']['username']}}</div>
              <div class="time">{{ message['send_date'] }}</div>
          </div>
          <p style="margin: 10px 0px 0px;">{{ message['message_text'] }}</p>
        </div>
      </div> 
    {% endfor %}
</div>
<div class="down">
  <label for="autoscroll">
      <img src="{{url_for('static',filename='back.jpg')}}">
  </label>
  <button id="autoscroll" onclick="pageScroll()" >
      down
  </button>
  <script>
      function pageScroll() {
          const $messages = document.querySelector('#messages');
          $messages.scrollTop = $messages.scrollHeight;
      }
  </script>
</div>

  <form class="footer"  method="POST">
    <div class="pin">
      <label for="docpicker">
        <img src="{{url_for('static',filename='icon-pin.png')}}">
      </label>
      <input
        method="POST"
        type="file"
        id="docpicker"
        accept=".doc,.docx,.txt,.jpg,.png" />
    </div>
    <div class="text-field" id="message_text" name="message_text">
      <textarea method="POST" 
                placeholder="
Write a message...
                " rows="3"></textarea>
  </div>
    <div class="send">
      <label for="sender">
        <img src="{{url_for('static',filename='back.jpg')}}">
      </label>
      <input type="submit" id="sender" name="sender"/>
    </div>
  </form>
{% endblock %}