
{% extends 'base.html' %}
{%block head%}
<title>parceltongue</title>
<link rel="stylesheet" href="{{url_for('static',filename='base-styles.css')}}">
{% endblock %}
{% block content %}
    <div class="app">
      <div class="logo">
        <img src="{{url_for('static',filename='logo2.png')}}">
        <h1>parceltongue</h1>
      </div>
      <h2>Регистрация</h2>
      {% with messages = get_flashed_messages() %}
        {%if messages%}
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      <form class="login" method="POST">
        {{form.hidden_tag()}}
        <div class="pin">
            <label for="docpicker">
              <img src="{{url_for('static',filename='icon-pin.png')}}">
            </label>
            <input
              method="POST"
              type="file"
              id="docpicker"
              accept=".jpg,.png" />
        </div>
        <input type="text" class="nickname" id="name" placeholder="Логин" required>
        <input type="password" class="password" id="password" placeholder="Пароль" required>
        <input type="password" class="password" id="rep-password" placeholder="Повторите пароль" required>
        <button id="enter">Зарегистрироваться</button>
      </form>
    </div>
{% endblock %}