{% extends 'chats.html' %}
{% block chat %}
<header>
    <div class="user-info">
      <div class="avatar"><img src="{{url_for('static',filename=chat['chat_pic_path'])}}"></div>
      <div class="name">{{chat['chatname']}}</div>
    </div>
</header>
<div class="messages">
    {% for message in messages %}
    <div class="message">
        <div class="avatar" style="width: 30px; height: 30px;"><img src=" {{url_for('static',filename=message['from_user']['profile_pic_path'])}} "  style="width: 30px; height: 30px;"></div>
        <div class="text">
          <div class="name">{{ message['from_user']['username']}}</div>
          <div class="text-and-time">
            {{ message['message_text'] }}
            <div class="time">{{ message['send_date'] }}</div>
          </div> 
        </div>
      </div> 
    {% endfor %}
</div>
  <form class="footer"  method="POST" href="">
    <div class="pin">
      <label for="docpicker">
        <img src="{{url_for('static',filename='icon-pin.png')}}">
      </label>
      <input
        method="POST"
        type="file"
        id="docpicker"
        accept=".doc,.docx,.txt,.jpg,.png" />
    </div>
    <div class="text-field">
      <textarea rows="1" id="message_text" name="message_text" placeholder="Write a message..."></textarea>
    </div>
    <div class="send">
      <label for="sender">
        <img src="{{url_for('static',filename='back.jpg')}}">
      </label>
      <input type="submit" id="sender" name="sender"/>
    </div>
  </form>
{% endblock %}