{% extends 'base.html' %}
<!--мне очень надо, чтобы chat_user был равен чему-то типа 0 или...ну в общем дефолт какой-то, я его потом ниже сравниваю при запуске проги-->>
  {% block head %}
    <meta charset="utf-8">
    <title>parceltongue</title>
    <link rel="stylesheet" href="{{url_for('static',filename='chats-styles.css')}}">
  </head>
  {% endblock %}

  {% block content %}
    <div class="chats-column" style="float: left; width: 360px">
      <header style="position: sticky; box-shadow: 0px 2px 5px -2px rgba(125, 125, 125, 0.5);">
        <div class="user-info">
          <div  class="avatar"><img src="{{ url_for('static',filename=thisuser['profile_pic_path']) }}"></div>
          <!--self.avatar - это имя файла аватарки аккаунта, с которого мы сидим-->
          <div class="name">{{ thisuser['username'] }}</div>
          <!--self.username - это имя аккаунта, с которого мы сидим-->
        </div>
      </header>
      <div class="chats">
        {% for user in users %}
        <!--users - список пользователей, с которыми мы вообще общались-->
        <div class="chat">
          <a id="select-chat" href="{{user['id']}}">
            <!--эээ надо понять, как получить id чата, я не понимаю-->
          <div class="user-info">
            <div  class="avatar"><img src="{{ url_for('static',filename=user['chat_pic_path']) }}"></div>
            <div class="text-info">
              <div class="name">{{ user["chatname"] }}</div>
              <!--user.username - это имя пользователя, с которым был диалог-->
              <div class="last-mess">{{ user["last_message"] }}</div>
              <!--user.messages[0].text - предполагается, что для каждого user есть массив сообщений (допустим, текст+автор)-->
              <!--, где последнее соо лежит в конце... и из сообщения мне здесь нужен только его текст-->
            </div>
            </div>
            </a>
        </div>
        {% endfor %}
      </div>

    </div>


    <div class="message-column" style="float: right;">
        {% if chat_user != 'здесь что-то дефолтное' %}
            {% block chat %}{%endblock%}
        {% endif %}
    </div>
  {% endblock %}