{% extends 'chats.html' %}
{% block chat %}
<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        window.onload = function()
        {
            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
        }

    </script>
    <script>
        var socket = io();
        socket.on('connect', function() {
            socket.emit('connection', {chat_id: "{{chat['id']}}"});
        });
        socket.on('message_recieve', function(message){
        var div = document.createElement('div');
        console.log('recieved message');
        div.setAttribute('class', 'message');
        div.innerHTML = `<div class="avatar" style="width: 30px; height: 30px;"><img src="${message['from_user']['profile_pic_path']}"  style="width: 30px; height: 30px;"></div>
                <div class="text">
                  <div class="name-and-time">
                      <div class="name">${message['from_user']['username']}</div>
                      <div class="time">${message['send_date']}</div>
                  </div>
                  <p style="margin: 10px 0px 0px;">${message['message_text']}</p>
                </div>`;
        document.getElementById('messages').appendChild(div);
        document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight+100;
        });

        function handleMessagePost(e){
            e.preventDefault();
            var x = document.getElementById('message_text');
            socket.emit('message_post',{chat_id: "{{chat['id']}}", message_text: document.getElementById('message_text').value});
            document.getElementById("message_input").reset();
            return false;
        }
    </script>
    <div class="user-info">
      <div class="avatar"><img src="{{url_for('static',filename=chat['chat_pic_path'])}}"></div>
      <div class="name">{{chat['chatname']}}</div>
    </div>
</header>
<div class="messages" id="messages">
    {% for message in messages %}
    
    <div class="message">
        <div class="avatar" style="width: 30px; height: 30px;"><img src=" {{url_for('static',filename=message['from_user']['profile_pic_path'])}} "  style="width: 30px; height: 30px;"></div>
        <div class="text">
          <div class="name-and-time">
              <div class="name">{{ message['from_user']['username']}}</div>
              <div class="time">{{ message['send_date'] }}</div>
          </div>
          <p style="margin: 10px 0px 0px;">{{ message['message_text'] }}</p>
        </div>
      </div> 
    {% endfor %}
</div>
  <form class="footer" id="message_input" method="POST" href="">
    <div class="pin">
      <label for="docpicker">
        <img src="{{url_for('static',filename='icon-pin.png')}}">
      </label>
      <input
        type="file"
        id="docpicker"
        accept=".doc,.docx,.txt,.jpg,.png" />
    </div>
    <div class="text-field">
      <textarea rows="1" id="message_text" name="message_text" placeholder="Write a message..."></textarea>
    </div>
    <div class="send">
      <label for="sender">
        <img src="{{url_for('static',filename='back.jpg')}}">
      </label>
      <input type="submit" id="sender" name="sender" onclick="handleMessagePost(event)"/>
    </div>
  </form>
{% endblock %}