{% extends 'base.html' %}
{%block head%}
<title>parceltongue</title>
<link rel="stylesheet" href="{{url_for('static',filename='base-styles.css')}}">
{% endblock %}
{% block content %}
<div class="app">
    <div class="logo">
            <img src="{{url_for('static',filename='logo2.png')}}">
        <h1>parceltongue</h1>
    </div>
    <h2>Авторизация</h2>
        {% with messages = get_flashed_messages() %}
        {%if messages%}
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <form class="login" method="post">
        {{form.hidden_tag()}}
        <input type="text" id="name" name="username" required>
        <input type="password" id="password" name="password" required>
        <input type="submit" id="enter" name="submit" value="Войти">
    </form>
    <div class="singin"> У Вас ещё нет учётной записи? <a href="{{ url_for('register') }}">Регистрация</a></div>
</div>
{% endblock %}