
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
         url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
  }

* {
    font-family: "Urbanist", "Roboto", "Arial";
    font-size: medium;
}

body, html{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9BB2DD;
    padding: 0;
    margin: 0;
}

body, .user-info, header, .text-field{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.chats-column, .message-column{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chats-column{
    background-color: white;
}

.chats{
    padding: 10px;
}
.text-info{
    overflow: hidden;
    width: 100%;
}

header, .text-field{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    position: absolute;
}

header {top: 0;}
.text-field { bottom: 0;}

.avatar, .send{
    img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
    margin: 10px;
    border: none;
}

.name{font-weight: bold;}
.last-mess{color: gray;}
.name, .last-mess{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pin {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    img {
        height: 30px;
        width: 30px;
    }
    input {
        visibility: hidden;
    }
}

.send {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    img {
        transform: scale(-1, 1);
    }
    input {
        visibility: hidden;
    }
}

.send:hover, .pin:hover{
    img {
        cursor: pointer;
    }
    opacity: 0.5;
}

textarea{
    flex: 1;
    border: none;
    resize: none;
}

textarea:focus{
    outline:none!important;
}
