<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='search-styles.css')}}">
    <title>Title</title>
</head>
<body>
    <script>
        var socket = io();
        socket.on('connect', function() {
            socket.emit('connection', {'chat_id': 0});
        });
        function handleFindUser(e){
            socket.emit('finduser', {'username':document.getElementById('message_text').value})
            console.log('sent request');
            e.preventDefault();
        };
        socket.on('founduser', function(answers){
                console.log('recieved answer', answers);
                document.getElementById('body').innerHTML = "";
                function u(answer){
                        var div = document.createElement('div');
                        console.log('rendering div')
                        div.setAttribute('href', {{url_for('chats')}});
                        div.innerHTML =
                            `<div class="chat" onclick='createChat(${answer['id']})'>
                                <div class="user-info">
                                    <div  class="avatar" style="width: 30px; height: 30px;">
                                        <img src="${answer['profile_pic_path']}"  style="width: 30px; height: 30px;">
                                    </div>
                                    <div class="text-info">
                                        <div class="name">${answer['username']}</div>
                                    </div>
                                </div>
                            </div>`;
                        document.getElementById('body').appendChild(div);
                    }
                if(answers!=false){
                    answers.forEach((answer)=> u(answer));
                } else {
                    var div = document.createElement('div');
                    div.innerHTML = `<div class="text">Такого пользователя нет</div>`;
                    document.getElementById('body').appendChild(div);
                }
        });
        var users = [];
        function createChat(user_id){
            console.log('trying to create chat')
            if (checked==true){
                console.log('checkbox checked, adding user to list')
                users.push(user_id)
            } else {
                console.log('checkbox unchecked, creating chat')
                socket.emit('createchat',{'is_direct':true,'user_id': [user_id]});
            }
        }
        function createGroup(){
            console.log('checkbox checked, creating chat')
            socket.emit('createchat',{'is_direct':false,'user_id': users,'chatname':document.getElementById('chatname').value});
        }
        socket.on('redirect_to_chat',function(chat_id){
            document.location.href = 'chats/'+chat_id;
        });
        var checked = false;
        function handleCheckbox(){
            checked = !checked;
            if(checked==true){
                var div = document.createElement('div');
                div.setAttribute('href', {{url_for('chats')}});
                div.setAttribute('class', 'search-field');
                div.innerHTML =
                `<input type="text" class="text-field" name="chatname" id = 'chatname' placeholder="Введите название группы"/>
                 <div class="new-button">
                    <label for="group_button">
                        <img src=" {{url_for('static',filename='new.png')}} ">
                    </label>  
                    <input type="button" id="group_button" name="group_button" onclick="createGroup()" value="Создать группу"/>
                 </div>`;
                document.getElementById('button_space').appendChild(div);
            } else {
                document.getElementById('button_space').innerHTML = "";
            }
        }
    </script>
    <div class="app">
        <form class="search">
            <div class="search-field">
                <textarea rows="1" id="message_text" name="message_text" placeholder="поиск" class="text-field"></textarea>
                <button type="submit" id="sender" name="sender" onclick="handleFindUser(event)">
                    <img src=" {{url_for('static',filename='search.png')}} " style="width: 20px;">
                </button>
            </div>
            <div class="new-group">
                <p>Создать группу?</p>
                <input type="checkbox" name="group" id = 'group' class="box" onclick="handleCheckbox()"/>
            </div>
        </form>
        <div id="button_space">

        </div>
        <div id = 'body' class="wrapper">

        </div>
    </div>

</body>
</html>