
{% extends 'base.html' %}
{%block head%}
<title>parceltongue</title>
<link rel="stylesheet" href="{{url_for('static',filename='base-styles.css')}}">
{% endblock %}
{% block content %}
    <div class="app">
      <div class="logo">
        <label for="docpicker">
            <!--здесь нужна ава юзера, с чьего аккаунта мы сидим-->
            <img src="{{url_for('static',filename=user['profile_pic_path'])}}" style="border-radius: 50%; height: 100px; width: 100px">
        </label>
        <input
          style="visibility: hidden;"
          method="POST"
          type="file"
          id="docpicker"
          accept=".jpg,.png" />
        <h1>{{user['username']}}</h1>
      </div>
      <h2>Настройки</h2>
      {% with messages = get_flashed_messages() %}
        {%if messages%}
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      <form class="login" method="POST" >
        {{form.hidden_tag()}}
        <input type="text" id="name" name="username" placeholder="Новый логин" required>
        <button id="changelogin" name="changelogin">Изменить логин</button>
      </form>
      <a href="{{ url_for('chats') }}">
        <button id="backtochats" name="backtochats"  style="background-color: white; color: #9bb2dd;">Вернуться к чатам</button>
      </a>
      <a href="{{ url_for('logout') }}">
        <button id="logout" name="logout" style="background-color: white; color: firebrick;">Выйти из аккаунта</button>
      </a>
    </div>
{% endblock %}